In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import docx
doc = docx.Document('fraudDetection.docx')

In [3]:
for para in doc.paragraphs:
    print(para.text)

Problem Statement
To build a classification methodology to determine whether a customer is placing a fraudulent insurance claim.
Architecture

Data Description
The client will send data in multiple sets of files in batches at a given location. The data has been extracted from the census bureau.
The data contains the following attributes:
Features:

months_as_customer: It denotes the number of months for which the customer is associated with the insurance company.
age: continuous. It denotes the age of the person.
policy_number: The policy number.
policy_bind_date: Start date of the policy.
policy_state: The state where the policy is registered.
policy_csl-combined single limits. How much of the bodily injury will be covered from the total damage.

policy_deductable: The amount paid out of pocket by the policy-holder before an insurance provider will pay any expenses.
policy_annual_premium: The yearly premium for the policy.
umbrella_limit: An umbrella insurance policy is extra liability insurance coverage that goes beyond the limits of the insured's homeowners, auto or watercraft insurance. It provides an additional layer of security to those who are at risk of being sued for damages to other people's property or injuries caused to others in an accident.
insured_zip: The zip code where the policy is registered.
insured_sex: It denotes the person's gender.
insured_education_level: The highest educational qualification of the policy-holder.
insured_occupation: The occupation of the policy-holder.
insured_hobbies: The hobbies of the policy-holder.
insured_relationship: Dependents on the policy-holder.
capital-gain: It denotes the monitory gains by the person.
capital-loss: It denotes the monitory loss by the person.
incident_date: The date when the incident happened.
incident_type: The type of the incident.
collision_type: The type of collision that took place.
incident_severity: The severity of the incident.
authorities_contacted: Which authority was contacted.
incident_state: The state in which the incident took place.
incident_city: The city in which the incident took place.
incident_location: The street in which the incident took place.
incident_hour_of_the_day: The time of the day when the incident took place.
property_damage: If any property damage was done.
bodily_injuries: Number of bodily injuries.
Witnesses: Number of witnesses present.
police_report_available: Is the police report available.
total_claim_amount: Total amount claimed by the customer.
injury_claim: Amount claimed for injury
property_claim: Amount claimed for property damage.
vehicle_claim: Amount claimed for vehicle damage.
auto_make: The manufacturer of the vehicle
auto_model: The model of the vehicle.
auto_year: The year of manufacture of the vehicle.


Target Label:
Whether the claim is fraudulent or not.
fraud_reported:  Y or N
Apart from training files, we also require a "schema" file from the client, which contains all the relevant information about the training files such as:
Name of the files, Length of Date value in FileName, Length of Time value in FileName, Number of Columns, Name of the Columns, and their datatype.

Data Validation
In this step, we perform different sets of validation on the given set of training files.
 Name Validation- We validate the name of the files based on the given name in the schema file. We have created a regex pattern as per the name given in the schema file to use for validation. After validating the pattern in the name, we check for the length of date in the file name as well as the length of time in the file name. If all the values are as per requirement, we move such files to "Good_Data_Folder" else we move such files to "Bad_Data_Folder."

 Number of Columns - We validate the number of columns present in the files, and if it doesn't match with the value given in the schema file, then the file is moved to "Bad_Data_Folder."


 Name of Columns - The name of the columns is validated and should be the same as given in the schema file. If not, then the file is moved to "Bad_Data_Folder".

 The datatype of columns - The datatype of columns is given in the schema file. It is validated when we insert the files into Database. If the datatype is wrong, then the file is moved to "Bad_Data_Folder".


Null values in columns - If any of the columns in a file have all the values as NULL or missing, we discard such a file and move it to "Bad_Data_Folder".
Data Insertion in Database

1) Database Creation and connection - Create a database with the given name passed. If the database has already been created, open a connection to the database.
2) Table creation in the database - Table with name - "Good_Data", is created in the database for inserting the files in the "Good_Data_Folder" based on given column names and datatype in the schema file. If the table is already present, then the new table is not created, and new files are inserted in the already present table as we want training to be done on new as well as old training files.
3) Insertion of files in the table - All the files in the "Good_Data_Folder" are inserted in the above-created table. If any file has invalid data type in any of the columns, the file is not loaded in the table and is moved to "Bad_Data_Folder".

Model Training
1) Data Export from Db - The data in a stored database is exported as a CSV file to be used for model training.
2) Data Preprocessing
Drop the columns not required for prediction.
For this dataset, the null values were replaced with ‘?’ in the client data. Those ‘?’ have been replaced with NaN values.
Check for null values in the columns. If present, impute the null values using the categorical imputer.
Replace and encode the categorical values with numeric values.
Scale the numeric values using the standard scaler.
3) Clustering - KMeans algorithm is used to create clusters in the preprocessed data. The optimum number of clusters is selected by plotting the elbow plot, and for the dynamic selection of the number of clusters, we are using "KneeLocator" function. The idea behind clustering is to implement different algorithms
The Kmeans model is trained over preprocessed data, and the model is saved for further use in prediction.
4) Model Selection – After the clusters have been created, we find the best model for each cluster. We are using two algorithms, “SVM” and "XGBoost". For each cluster, both the algorithms are passed with the best parameters derived from GridSearch. We calculate the AUC scores for both models and select the model with the best score. Similarly, the model is selected for each cluster. All the models for every cluster are saved for use in prediction.




Prediction Data Description
 The Client will send the data in multiple sets of files in batches at a given location. Data will contain the annual income of various persons.
Apart from prediction files, we also require a "schema" file from the client, which contains all the relevant information about the training files such as:
Name of the files, Length of Date value in FileName, Length of Time value in FileName, Number of Columns, Name of the Columns and their datatype.
Data Validation
In this step, we perform different sets of validation on the given set of training files.
1) Name Validation- We validate the name of the files based on given Name in the schema file. We have created a regex pattern as per the name given in the schema file, to use for validation. After validating the pattern in the name, we check for the length of date in the file name as well as the length of the timestamp in the file name. If all the values are as per requirement, we move such files to "Good_Data_Folder" else we move such files to "Bad_Data_Folder".
2) Number of Columns - We validate the number of columns present in the files, and if it doesn't match with the value given in the schema file, then the file is moved to "Bad_Data_Folder".
3) Name of Columns - The name of the columns is validated and should be same as given in the schema file. If not, then the file is moved to "Bad_Data_Folder".
4) Datatype of columns - The datatype of columns is given in the schema file. This is validated when we insert the files into Database. If the datatype is incorrect, then the file is moved to "Bad_Data_Folder".
5) Null values in columns - If any of the columns in a file has all the values as NULL or missing, we discard such file and move it to "Bad_Data_Folder".
Data Insertion in Database
1) Database Creation and connection - Create a database with the given name passed. If the database is already created, open the connection to the database.
2) Table creation in the database - Table with name - "Good_Data", is created in the database for inserting the files in the "Good_Data_Folder" based on given column names and datatype in the schema file. If the table is already present, then a new table is not created, and new files are inserted into the already present table as we want training to be done on new as well old training files.
3) Insertion of files in the table - All the files in the "Good_Data_Folder" are inserted in the above-created table. If any file has invalid data type in any of the columns, the file is not loaded in the table and is moved to "Bad_Data_Folder".
Prediction
1) Data Export from Db - The data in the stored database is exported as a CSV file to be used for prediction.
2) Data Preprocessing  :
Drop the columns not required for prediction.
For this dataset, the null values were replaced with ‘?’ in the client data. Those ‘?’ have been replaced with NaN values.
Check for null values in the columns. If present, impute the null values using the categorical imputer.
Replace and encode the categorical values with numeric values.
Scale the numeric values using the standard scaler.
3) Clustering - KMeans model created during training is loaded, and clusters for the preprocessed prediction data is predicted.
4) Prediction - Based on the cluster number, the respective model is loaded and is used to predict the data for that cluster.
5) Once the prediction is made for all the clusters, the predictions along with the Wafer names are saved in a CSV file at a given location, and the location is returned to the client.



Deployment
We will be deploying the model to the Pivotal Cloud Foundry platform.
This is a workflow diagram for the prediction of using the trained model.




Now let’s look at the project folder structure:


Steps before cloud deployment:
              We need to change our code a bit so that it works unhindered on the cloud, as well.
Add a file called ‘Procfile’ inside the ‘reviewScrapper’ folder. This folder contains the command to run the flask application once deployed on the server:

web: gunicorn app:app
Here, the keyword ‘web’ specifies that the application is a web application. And the part ‘app:app’ instructs the program to look for a flask application called ‘app’ inside the ‘app.py’ file.  is a Web Server Gateway Interface (WSGI) HTTP server for Python.
Open a command prompt window and navigate to your ‘reviewScrapper’ folder. Enter the command ‘pip freeze > requirements.txt’. This command generates the ‘requirements.txt’ file.
requirements.txt helps the Heroku cloud app to install all the dependencies before starting the webserver.

Deployment to Heroku:
Go to Heroku.com and create an account and login.
Click on new(inside the red box) to create a new app.

Give the name of the app and click ‘create app’.

After app creation, the ‘deploy’ section has all the deployment steps mentioned.
We’ll download and install the Heroku CLI from the Heroku website: .
Git also needs to be installed in your computer.
After installing the Heroku CLI, Open a command prompt window and navigate to your project folder.
Type the command ‘heroku login’ to login to your heroku account as shown   below:

It opens up a webpage to login to Heroku.
Before deploying the code to the Heroku cloud, we need to commit the changes to the local git repository.
Type the command ‘git init to initialize a local git repository  as shown below:

Enter the command heroku git:remote <remote repo name> to connect local git repo to the remote repo.
Enter the command ‘git status’ to see the uncommitted changes
Enter the command ‘git add .’ to add the uncommitted changes to the local repository.
Enter the command ‘git commit -am "make it better"’ to commit the changes to the local repository.
Enter the command ‘git push heroku master’ to push the code to the heroku cloud.
After deployment, heroku gives you the URL to hit the web API.
Once your application is deployed successfully, enter the command ‘heroku logs --tail’ to see the logs.

In [58]:
df = pd.read_csv("insuranceFraud.csv")

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,1/25/2015,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,1/21/2015,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,9/6/2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,2/22/2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,5/25/1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,1/10/2015,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,6/6/2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,2/17/2015,Vehicle Theft,?,Minor Damage,NaN,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [61]:
df.replace('?', np.nan, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               822 non-null    object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        909 non-null    object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              640 non-null    object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      657 non-null    object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(17), object(21)
memory usage: 304.8+ KB

In [23]:
df.isnull()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False

In [91]:
df.isnull().sum()

months_as_customer               0
age                              0
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_zip                      0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_date                    0
incident_type                    0
collision_type                  84
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                360
bodily_injuries                  0
witnesses                        0
police_report_available        343
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
dtype: int64

In [25]:
100* df.isnull().sum() / len(df)

months_as_customer              0.0
age                             0.0
policy_number                   0.0
policy_bind_date                0.0
policy_state                    0.0
policy_csl                      0.0
policy_deductable               0.0
policy_annual_premium           0.0
umbrella_limit                  0.0
insured_zip                     0.0
insured_sex                     0.0
insured_education_level         0.0
insured_occupation              0.0
insured_hobbies                 0.0
insured_relationship            0.0
capital-gains                   0.0
capital-loss                    0.0
incident_date                   0.0
incident_type                   0.0
collision_type                 17.8
incident_severity               0.0
authorities_contacted           9.1
incident_state                  0.0
incident_city                   0.0
incident_location               0.0
incident_hour_of_the_day        0.0
number_of_vehicles_involved     0.0
property_damage                36.0
bodily_injuries                 0.0
witnesses                       0.0
police_report_available        34.3
total_claim_amount              0.0
injury_claim                    0.0
property_claim                  0.0
vehicle_claim                   0.0
auto_make                       0.0
auto_model                      0.0
auto_year                       0.0
fraud_reported                  0.0
dtype: float64

In [26]:
def percent_missing(df):
    percent_nan = 100* df.isnull().sum()/len(df)
    percent_nan = percent_nan[percent_nan>0].sort_values()
    #print(percent_nan)
    return percent_nan

In [123]:
percent_nan = percent_missing(df)

In [124]:
sns.barplot(x=percent_nan.index,y=percent_nan)
plt.xticks(rotation=90) 
plt.show()

ValueError: min() arg is an empty sequence

In [103]:
df['collision_type'].mode()

0    Rear Collision
Name: collision_type, dtype: object

In [83]:
df['incident_type'].unique()

array(['Single Vehicle Collision', 'Vehicle Theft',
       'Multi-vehicle Collision', 'Parked Car'], dtype=object)

In [79]:
features=['authorities_contacted','collision_type','police_report_available','property_damage','incident_type','incident_severity','total_claim_amount']

In [104]:
df.loc[(df['collision_type'].isnull()) & (df['incident_type']=='Parked Car'),'collision_type']='Rear Collision'

In [99]:
df[(df['collision_type'].isnull()) & (df['incident_type']=='Parked Car')][features]

,authorities_contacted,collision_type,police_report_available,property_damage,incident_type,incident_severity,total_claim_amount
88,Police,NaN,YES,NO,Parked Car,Trivial Damage,4700
92,No,NaN,NO,NO,Parked Car,Trivial Damage,5900
98,Police,NaN,YES,NaN,Parked Car,Trivial Damage,5400
168,Police,NaN,NO,NaN,Parked Car,Trivial Damage,5940
197,No,NaN,NaN,YES,Parked Car,Trivial Damage,5200
202,Police,NaN,NO,NO,Parked Car,Trivial Damage,5920
209,Police,NaN,NO,NO,Parked Car,Trivial Damage,8800
242,Police,NaN,YES,NaN,Parked Car,Trivial Damage,6300
260,No,NaN,NO,NaN,Parked Car,Trivial Damage,3850
297,Police,NaN,NaN,NaN,Parked Car,Trivial Damage,3300
303,Police,NaN,NO,NaN,Parked Car,Trivial Damage,5670
332,No,NaN,NaN,NO,Parked Car,Trivial Damage,5640
333,No,NaN,NaN,NaN,Parked Car,Trivial Damage,3190
362,No,NaN,NO,YES,Parked Car,Trivial Damage,4500
411,Police,NaN,YES,YES,Parked Car,Trivial Damage,6820
437,Police,NaN,NO,NaN,Parked Car,Trivial Damage,6400
439,Police,NaN,YES,YES,Parked Car,Trivial Damage,5900
452,No,NaN,NO,YES,Parked Car,Trivial Damage,4290
511,Police,NaN,NO,NaN,Parked Car,Trivial Damage,6560
541,Police,NaN,YES,NaN,Parked Car,Trivial Damage,10790
553,Police,NaN,NO,YES,Parked Car,Trivial Damage,6930
584,Police,NaN,NO,NaN,Parked Car,Trivial Damage,6030
596,Police,NaN,NO,NaN,Parked Car,Trivial Damage,5000
597,Police,NaN,NaN,NaN,Parked Car,Trivial Damage,5000
622,Police,NaN,NaN,NaN,Parked Car,Trivial Damage,3200
627,Police,NaN,NO,NaN,Parked Car,Trivial Damage,6050
635,Police,NaN,YES,NaN,Parked Car,Trivial Damage,2860
648,No,NaN,NaN,NaN,Parked Car,Trivial Damage,5060
677,No,NaN,NaN,YES,Parked Car,Trivial Damage,4320
681,Police,NaN,NO,YES,Parked Car,Trivial Damage,2640
682,Police,NaN,NO,NO,Parked Car,Trivial Damage,6050
686,No,NaN,NO,NO,Parked Car,Trivial Damage,3840
721,Police,NaN,YES,NaN,Parked Car,Trivial Damage,5830
775,Police,NaN,NaN,YES,Parked Car,Trivial Damage,100
783,No,NaN,NO,NO,Parked Car,Trivial Damage,5060
790,Police,NaN,YES,YES,Parked Car,Trivial Damage,5830
799,No,NaN,NaN,YES,Parked Car,Trivial Damage,3960
804,Police,NaN,YES,YES,Parked Car,Trivial Damage,4950
840,No,NaN,NaN,NO,Parked Car,Trivial Damage,5400
849,Police,NaN,NO,NO,Parked Car,Trivial Damage,5700
896,Police,NaN,YES,NO,Parked Car,Trivial Damage,7260
983,Police,NaN,NaN,NaN,Parked Car,Trivial Damage,3440

In [84]:
df[(df['collision_type'].isnull()) & (df['incident_type']=='Vehicle Theft')][features]

,authorities_contacted,collision_type,police_report_available,property_damage,incident_type,incident_severity,total_claim_amount
1,Police,NaN,NaN,NaN,Vehicle Theft,Minor Damage,5070
4,No,NaN,NO,NO,Vehicle Theft,Minor Damage,6500
27,No,NaN,NaN,YES,Vehicle Theft,Minor Damage,5720
48,Police,NaN,YES,NaN,Vehicle Theft,Trivial Damage,7290
51,No,NaN,NaN,NaN,Vehicle Theft,Trivial Damage,7260
...,...,...,...,...,...,...,...
959,Police,NaN,YES,NO,Vehicle Theft,Minor Damage,3300
961,Police,NaN,NaN,NaN,Vehicle Theft,Trivial Damage,7590
963,Police,NaN,YES,NO,Vehicle Theft,Minor Damage,4800
964,Police,NaN,YES,NaN,Vehicle Theft,Minor Damage,3900
969,Police,NaN,NaN,NaN,Vehicle Theft,Trivial Damage,6600

In [85]:
df.loc[(df['collision_type'].isnull()) & (df['incident_type']=='Vehicle Theft'),'collision_type']='NO Collision'

In [38]:
df_new=df[features]

In [39]:
df_new[df_new['authorities_contacted'].isnull()]

,authorities_contacted,collision_type,police_report_available,property_damage,incident_type,incident_severity,total_claim_amount
4,NaN,NaN,NO,NO,Vehicle Theft,Minor Damage,6500
13,NaN,NaN,NO,NO,Parked Car,Minor Damage,7280
27,NaN,NaN,NaN,YES,Vehicle Theft,Minor Damage,5720
37,NaN,NaN,YES,NO,Parked Car,Minor Damage,5330
51,NaN,NaN,NaN,NaN,Vehicle Theft,Trivial Damage,7260
...,...,...,...,...,...,...,...
940,NaN,NaN,YES,NaN,Parked Car,Minor Damage,5590
942,NaN,NaN,NO,NO,Parked Car,Minor Damage,4290
950,NaN,NaN,NO,NO,Parked Car,Minor Damage,5170
953,NaN,NaN,YES,NO,Vehicle Theft,Minor Damage,4620
994,NaN,NaN,YES,NaN,Parked Car,Minor Damage,6480

In [71]:
df.loc[(df['police_report_available'] == 'YES') & df['authorities_contacted'].isnull(), 'authorities_contacted'] = 'Police'

In [72]:
df[(df['police_report_available'] == 'YES') & df['authorities_contacted'].isnull()]['authorities_contacted']

Series([], Name: authorities_contacted, dtype: object)

In [76]:
df['authorities_contacted']=df['authorities_contacted'].fillna("No")

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               822 non-null    object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        909 non-null    object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              640 non-null    object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      657 non-null    object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(17), object(21)
memory usage: 304.8+ KB

In [110]:
df['authorities_contacted'].unique()

array(['Police', 'No', 'Fire', 'Other', 'Ambulance'], dtype=object)

In [108]:
df[df['police_report_available'].isnull()][features]

,authorities_contacted,collision_type,police_report_available,property_damage,incident_type,incident_severity,total_claim_amount
1,Police,NO Collision,NaN,NaN,Vehicle Theft,Minor Damage,5070
6,Police,Front Collision,NaN,NaN,Multi-vehicle Collision,Minor Damage,78650
9,Other,Rear Collision,NaN,NO,Single Vehicle Collision,Total Loss,42300
10,Police,Front Collision,NaN,YES,Single Vehicle Collision,Total Loss,87010
20,Police,Rear Collision,NaN,NO,Multi-vehicle Collision,Minor Damage,47160
...,...,...,...,...,...,...,...
989,Police,Rear Collision,NaN,YES,Multi-vehicle Collision,Total Loss,53280
993,Other,Side Collision,NaN,NaN,Multi-vehicle Collision,Total Loss,60200
995,Fire,Front Collision,NaN,YES,Single Vehicle Collision,Minor Damage,87200
996,Fire,Rear Collision,NaN,YES,Single Vehicle Collision,Major Damage,108480
999,Police,NO Collision,NaN,NaN,Parked Car,Minor Damage,5060

In [109]:
df['police_report_available'].unique()

array(['YES', nan, 'NO'], dtype=object)

In [113]:
df[(df['police_report_available'].isnull()&(df['authorities_contacted'].isin(['Police', 'Fire','Ambulance'])))][features]

,authorities_contacted,collision_type,police_report_available,property_damage,incident_type,incident_severity,total_claim_amount
1,Police,NO Collision,NaN,NaN,Vehicle Theft,Minor Damage,5070
6,Police,Front Collision,NaN,NaN,Multi-vehicle Collision,Minor Damage,78650
10,Police,Front Collision,NaN,YES,Single Vehicle Collision,Total Loss,87010
20,Police,Rear Collision,NaN,NO,Multi-vehicle Collision,Minor Damage,47160
21,Police,Side Collision,NaN,NaN,Multi-vehicle Collision,Total Loss,37840
...,...,...,...,...,...,...,...
983,Police,Rear Collision,NaN,NaN,Parked Car,Trivial Damage,3440
989,Police,Rear Collision,NaN,YES,Multi-vehicle Collision,Total Loss,53280
995,Fire,Front Collision,NaN,YES,Single Vehicle Collision,Minor Damage,87200
996,Fire,Rear Collision,NaN,YES,Single Vehicle Collision,Major Damage,108480
999,Police,NO Collision,NaN,NaN,Parked Car,Minor Damage,5060

In [114]:
df.loc[(df['police_report_available'].isnull()&(df['authorities_contacted'].isin(['Police', 'Fire','Ambulance']))),'police_report_available']='YES'

In [117]:
df['police_report_available']=df['police_report_available'].fillna('NO')

In [120]:
df[df['property_damage'].isnull()][features]

,authorities_contacted,collision_type,police_report_available,property_damage,incident_type,incident_severity,total_claim_amount
1,Police,NO Collision,YES,NaN,Vehicle Theft,Minor Damage,5070
3,Police,Front Collision,NO,NaN,Single Vehicle Collision,Major Damage,63400
6,Police,Front Collision,YES,NaN,Multi-vehicle Collision,Minor Damage,78650
7,Police,Front Collision,YES,NaN,Multi-vehicle Collision,Total Loss,51590
16,Other,Rear Collision,YES,NaN,Multi-vehicle Collision,Major Damage,52110
...,...,...,...,...,...,...,...
993,Other,Side Collision,NO,NaN,Multi-vehicle Collision,Total Loss,60200
994,Police,NO Collision,YES,NaN,Parked Car,Minor Damage,6480
997,Police,Side Collision,YES,NaN,Multi-vehicle Collision,Minor Damage,67500
998,Other,Rear Collision,YES,NaN,Single Vehicle Collision,Major Damage,46980
999,Police,NO Collision,YES,NaN,Parked Car,Minor Damage,5060

In [121]:
df['property_damage'].mode()

0    NO
Name: property_damage, dtype: object

In [122]:
df['property_damage']=df['property_damage'].fillna('NO')

In [125]:
cols_to_drop=['policy_number','policy_bind_date','policy_state','insured_zip','incident_location','incident_date','incident_state','incident_city','insured_hobbies','auto_make','auto_model','auto_year']

In [126]:
df.drop(columns=cols_to_drop,inplace=True)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_csl                   1000 non-null   object
 3   policy_deductable            1000 non-null   int64
 4   policy_annual_premium        1000 non-null   float64
 5   umbrella_limit               1000 non-null   int64
 6   insured_sex                  1000 non-null   object
 7   insured_education_level      1000 non-null   object
 8   insured_occupation           1000 non-null   object
 9   insured_relationship         1000 non-null   object
 10  capital-gains                1000 non-null   int64
 11  capital-loss                 1000 non-null   int64
 12  incident_type                1000 non-null   object
 13  collision_type               1000 non-null   object
 14  incident_severity            1000 non-null   object
 15  authorities_contacted        1000 non-null   object
 16  incident_hour_of_the_day     1000 non-null   int64
 17  number_of_vehicles_involved  1000 non-null   int64
 18  property_damage              1000 non-null   object
 19  bodily_injuries              1000 non-null   int64
 20  witnesses                    1000 non-null   int64
 21  police_report_available      1000 non-null   object
 22  total_claim_amount           1000 non-null   int64
 23  injury_claim                 1000 non-null   int64
 24  property_claim               1000 non-null   int64
 25  vehicle_claim                1000 non-null   int64
 26  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(14), object(12)
memory usage: 211.1+ KB

In [129]:
df.to_csv("cleaned_data.csv")